.waterTower {
  width: 120px;
  height: 300px;
  border: 4px solid #444;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.water {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(#4da6ff, #1e90ff);
  transition: height 0.4s linear;
}
